#countdown {
  position: relative;
  padding: 4px 0;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  > .time {
    position: relative;
    z-index: 1;
  }
  > .progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #e9e9e9;
    z-index: 0;
  }
}
